.NavLinks{
    color:#000;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    font-family: var(--font-family);
    color:var(--documentation-text-color-inactive);
    font-weight: var(--font-weight);
}
.NavLinks:hover{
    text-decoration: none;
}
.orgName{
    font-size: 30px;
    font-family: var(--font-family);
}
.topNavBar{
    border-bottom: 2px dashed #000;
}
.highlightNumber{
    color:#5ab8bf;
    font-size: 35px;
    font-family: var(--font-family);
}
.navbarHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarHeading img{
    margin-top: 1px;
}
.orgNameBig{
    color:red;
    font-size: 70px;
    font-family: var(--font-family);
}

.start{
    text-align: center;
    font-family: var(--font-family);
}

.codeSymbol{
    background: #198754!important;
    color: #fff;
    padding: 15px;
    border-radius: 18px;
}

.installBox{
    background-color: #f7f7f9;
    height: 80px;
    padding: 25px;
    font-family: var(--font-family);
}

.dollarSign{
    color: blue;
}
.install{
    margin-left: 15px;
    font-family: var(--font-family);
}

.steps{
    background-color: rgb(30, 30, 30);
    color:#fff;
    padding:30px;
    font-size:18px;
}
.brown{
    color: rgb(206, 145, 120);
    font-family: var(--font-family);
}
.purple{
    color: #9c27b0; 
    font-family: var(--font-family);
}
.green{
    color: #0d904f;
    font-family: var(--font-family);
}

@media screen and (max-width:720px){
    .jumboHeadding{
        font-family: 20px;
        font-family: var(--font-family);
    }
}
.title{
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.steps{
    overflow: scroll;
}

@media only screen and (max-width: 420px) {
    .orgNameBig, .jumboHeadding{
        font-size: 40px;
    }
    .installBox{
        overflow: scroll;
    }
    .title{
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .orgNameBig{
        font-size: 25px;
    }
    .title{
        display: none;
    }
}